# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual Environments
# ==============================
venv/
.venv/
.env
.env.*


# ==============================
# ML / Cache / Temp
# ==============================
.ipynb_checkpoints/
*.joblib.cache
*.tmp

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Editors / IDEs
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# Logs
# ==============================
*.log
logs/
